body {
  background-color: transparent;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin: 0;
  overflow-x: hidden;
}

.hero_fullScreen {
  min-height: 100vh;
  width: 100%;
  position: fixed;
  inset: 0;
  max-height: none;
}

.hero-overlay {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hero-media {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 0;
  z-index: 0;
}

.hero_fullScreen .hero-media-video,
.hero_fullScreen .hero-media picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.hero-media-video {
    display: none;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1400px;
  z-index: 100;
  padding-bottom: 4rem;
}

.hero-title {
  color: #fff;
  font-size: 48px;
  font-weight: 300;
  max-width: 320px;
  line-height: 1.1;
}

.hero-link {
  color: #fff;
  font-size: 20px;
  transition: all .3s ease-in-out;
}

.hero-link:hover,
.hero-link:focus-visible {
  color: #fff;
}

.hero-link.link-underlined:hover::after ,
.hero-link.link-underlined:focus-visible {
  width: 65px;
}

#main-footer {
    z-index: 10;
}

.fill-color {
  fill: var(--fds-white);
}

.stroke-color {
  stroke: var(--fds-white);
}

.footer-fine-print {
  color: var(--fds-white)
}

.footer-fine-print a {
  color: var(--fds-white)
}

@media (min-width: 768px) {
  .hero-overlay {
    background: rgba(0, 0, 0, 0.2);
  }

  .hero-media-video {
    display: block;
    width: 100%;
  }

  .hero_fullScreen .hero-media picture,
  .hero_video .hero-media-image {
    display: none;
  }

  .hero-content {
    padding-bottom: 0rem;
  }


  .hero-title {
    font-size: 84px;
    max-width: 500px;
  }

  .hero-link {
    font-size: 30px;
  }
}