.site-logo img.light-logo {
  display: none;
}

.site-logo img.dark-logo {
  display: block;
}

.site-header-nav-toggle-label {
  color: #000;
}

.nav-toggle-icon span {
  background: var(--fds-black);
}