.in-page-nav {
  display: none;
}

.product-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: .35rem;
  margin-top: 3rem;
}

.product-grid-item {
  display: block;
  position: relative;
  max-width: 400px;
}

.product-grid.two-col-product-grid {
  grid-template-columns: 1fr;
  gap: .75rem;
}

.two-col-product-grid .product-grid-item {
  max-width: 800px;
}

.product-grid-item:hover,
.product-grid-item:focus {
  color: #fff;
}

.product-grid-item img {
    display: block;
    width: 100%;
    aspect-ratio: 1;
}

.product-grid.two-col-product-grid img {
    aspect-ratio: 2;
}

.product-grid-item h3 {
  position: absolute;
  left: 0;
  bottom: .5rem;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 30%;
  color: #fff;
  transition: all .3s ease-in-out;
}

.product-grid-item:hover h3,
.product-grid-item:focus-visible h3 {
  color: var(--fds-yellow);
}

@media (min-width: 768px) {
  .in-page-nav {
    display: block;
    background: #000;
    padding: 0;
  }

  .in-page-nav__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: .5rem;
    list-style: none;
    margin: 0 auto;
    padding: 1rem;
    max-width: 600px;
  }

  .in-page-nav__link {
    font-size: var(--fds-fs-450);
    line-height: var(--fds-fs-700);
    color: var(--fds-white);
    opacity: 0.6;
    padding-top: 0.3rem;
    padding-bottom: 0.5rem;
    transition: all 0.3s;
    border-top: 1px solid var(--fds-black);
    border-bottom: 1px solid var(--fds-black);
    font-weight: 300;
    white-space: nowrap;
  }

  .in-page-nav__link:hover,
  .in-page-nav__link:focus {
    opacity: 1;
    border-top: 1px solid var(--fds-yellow);
    color: #fff;
    border-bottom: 1px solid var(--fds-yellow);
  }

  .in-page-nav__link:focus-visible {
    outline: 2px solid #fff;
    outline-offset: 4px;
  }
}

@media (min-width: 992px) {
  .in-page-nav__list {
    display: flex;
    gap: 3rem;
    margin: 0;
    max-width: unset;
  }

  .product-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: .5rem;
    margin-top: 5rem;
  }

  .product-grid.two-col-product-grid {
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
  }

  .product-grid-item h3 {
    font-size: 14px;
  }
}

@media (min-width: 1235px) {
  .in-page-nav__list {
    gap: 4rem;
  }

  .in-page-nav__link {
    font-size: 1.25rem;
  }
}