#main-footer {
  background-color: var(--fds-tan);
}

/* Tabs */
.newsroom-tabs__nav {
  background-color: #000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.newsroom-tabs__tab {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  padding: 0.75rem 1rem;
  cursor: pointer;
  line-height: 1;
  color: #fff;
  opacity: .6;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-size: 1rem;
  transition: all .3s ease-in-out;
  border: none;
}

.newsroom-tabs__tab:hover,
.newsroom-tabs__tab:focus-visible {
  color: #fff;
  opacity: 1;
}

.newsroom-tabs__tab.is-active {
  color: #fff;
  opacity: 1;
}

.newsroom-tabs__tab:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 3px;
}

.newsroom-tabs__panels {
  padding-block: 2rem;
}

.newsroom-tabs__panel[hidden] {
  display: none;
}

/* Article Grid */
.newsroom-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

/* Cards - intentionally simple for your design layer */
.newsroom-card-wrapper {
  container-type: inline-size;
  container-name: article;
}

.newsroom-card {
  background-color: #fff;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.newsroom-card__image {
  display: block;
  width: 100%;
  max-width: 265px;
  align-self: center;
  border: 1px solid #BCBEC0;
}

.newsroom-card__content {
  color: #000;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}

.newsroom-card__divider {
  display: block;
  width: 50%;
  max-width: 120px;
  height: 3px;
  background-color: var(--fds-yellow);
  margin-bottom: 2rem;
}

.newsroom-card__date {
  font-weight: 600;
  font-style: italic;
  font-size: 14px;
}

.newsroom-card__title {
  font-weight: bold;
  margin-bottom: 1rem;
}

.newsroom-card__button {
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  margin-top: 1rem;
}

@container article (min-width: 530px) {
  .newsroom-card {
    flex-direction: row;
    gap: 1rem;
    align-items: stretch;
  }

  .newsroom-card__image {
    align-self: flex-start;
  }

  .newsroom-card__content {
    flex: 1;
  }
}

@media (min-width: 992px) {
  .newsroom-tabs__panels {
    padding-block: 4rem;
  }

  .newsroom-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}